/* Write your CSS code here */
.userinfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile {
  width: 100%;
}
.name {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #12022f;
}
.description {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  color: #616e7c;
}
